#Chat {
  left: 5px;
  top: 30px;
  bottom: 246px;
  right:411px;
  position:fixed;
  opacity: 0.8;
  color:#a6e0f5;
  border:1px solid #27b4e7;
  border-radius: 10px;
  text-align:left;
  filter:Alpha(opacity=80)
}
#ChatHead {
  text-align:right;
  height: 30px;
  padding:3px;
  margin: 3px;
  color:#a6e0f5;
  cursor:move;
}
#ChatContent {
  left: 0;
  right: 0;
  border-top:1px solid #27b4e7;
  position: absolute;
  top: 36px;
  bottom: 30px;
  padding:6px;
  color:#a6e0f5;
  overflow-y:scroll;
  word-break: break-all
}
#ChatBtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 58px;
}
.click_box {
  height: 28px;
  line-height: 28px;
  float: right;
  display: inline;
}
.HallChat,
.RoomChat {
    height: 22px;
    width: 22px;
    padding: 0;
    border: none;
    outline: none;
    background:url('/images/m/checkbox_sel.png');
}

.ChatSendMsg {
  right: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
  border-top: 1px solid #27b4e7;
  border-radius: 10px;
  color: #a6e0f5;
  background:rgba(0,0,0,0);
}
.ChatSendMsg::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #27b4e7;
} 
.ChatSendMsg:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: #27b4e7;
} 
.ChatSendMsg::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: #27b4e7;
} 
.ChatSendMsg:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #27b4e7;
} 
.ChatButton {

}

#Board {
  width:200px;
  position:fixed;
  opacity: 0.95;
  right:0;
  top:0;
  background:#212121;
  text-align:left;
  filter:Alpha(opacity=90)
}
#BoardHead {
  text-align:right;
  padding:3px;
  border:1px solid #B0B0B0;
  background:#262729;
  color:#8E9AA6;
  cursor:move;
}
#BoardBody {
  border:1px solid #2D2F31;
  border-top:none;
  padding:2px;
}
#BoardContent {
  height:400px;
  color: #eee;
  overflow-y:scroll;
  word-break: break-all
}
#BoardBtn {
  border-bottom:1px solid #B0B0B0;
  color:#8E9AA6;
}

.tabs {
  height: 22px;
  border-bottom: 1px solid #B0B0B0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}
.tabs > li {
  float: left;
  width: 91px;
  margin-bottom: -1px;
  position: relative;
  display: block;
}
.tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 8px 8px 0 0;
  position: relative;
  display: block;
}
.tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  text-decoration: none;
  background-color: #eee;
}
.tabs > li > a.active,
.tabs > li > a.active:hover,
.tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}