.Timer {
  background: #000;
  border: 2px solid #293232;
  border-radius: 7px;
  color: #ffffff;
  left: 40%;
  width: 20%;
  height: 28px;
  margin: 1px 0;
  font-size: 16px;
  line-height: 22px;
  outline: 0;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}