.GameTab {
}

.GameTab > .Tab {
  line-height: 32px; 
  background: #4c4c4c; 
  height: 32px; 
  position: fixed;
  top: 64px; 
  left: 0; 
  right: 200px;
}

.GameTab > .Tab > .Show {
  float: left;
  background: none;
  color: #ffffff;
  border: 2px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  padding: 0;
  outline: none;
}

.GameTab > .Tab > .Hide {
  float: left;
  background: none;
  color: #959595;
  border: 2px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  padding: 0;
  outline: none;
}

.GameTab > .Tab > .Setting {
  float: right;
  color: #ffffff;
  background: none;
  border: 2px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  padding: 0;
  outline: none;
}

.GameTab > .List {
  padding: 5px;
  background: #ececec; 
  height: 100%; 
  position: fixed; 
  top: 96px; 
  left: 0; 
  bottom: 32px; 
  right: 200px;
}