.SettingButton {    
  position: fixed;
  top: 48px;
  right: 0;
  background: url(/img/settings.png) no-repeat 0px 8px;
  outline: none;
  border: 0;
  color: #cfcfcf;
  font-size: 13px;
  padding: 7px 20px;
}
.WindowMask { 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  z-index: 100;
}
.Window {    
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}
.Window > .header {
  position: absolute;
  top: 0;
  height: 32px;
  left: 0;
  right: 0;
  color: #c1c2c3;
  line-height: 32px;
  padding: 0 12px;
  background: #1f2021;
}
.Window > .header > .exit {
  position: absolute;
  right: 0;
  height: 32px;
  width: 32px;
  font-size: 20px;
  background: none;
  color: #c1c2c3;
  outline: none;
  border: none;
}
.Window > .bodyBox {
  position: absolute;
  top: 32px;
  bottom: 60px;
  left: 0;
  right: 0;
  background: #070809;
  line-height: 40px;
  overflow: hidden;
}
.Window > .bodyBox > .body{
  position:absolute; 
  left:0; 
  top:0; 
  right: 10px;
  height:auto;
}
.Window > .bodyBox > .body > .item {
  padding: 10px 20px;
}
.Window > .bodyBox > .body > .item > .title {
  color: #c1c2c3;
}
.Window > .bodyBox > .body > .item > span {
  color: #7f7f7f;
}
.Window > .bodyBox > .body > .item > input {
  margin: 0 10px;
  background: #3f4041;
  border: 1px solid #676669;
  border-radius: 4px;
  height: 21px;
  width: 160px;
  color: #e7e5e6;
  outline: none;
}
.Window > .bodyBox > .body > .item > input:focus {
  border: 1px solid #f7f6f9;
}
.Window > .footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  background: #1f2021;
}
.Window > .footer > button {
  float: right;
  outline: none;
  border: 0;
  margin: 11px 16px 11px 0;
  height: 38px;
  width: 136px;
  border-radius: 5px;
  font-size: 20px;
}
.Window > .footer > .msg {
  line-height: 60px;
  float: right;
}
.Window > .footer > button:disabled {
  background: #b9b9b9;
}
.Window > .footer > .save {
  background: #ffc500;
  color: #1f2021;
}
.Window > .footer > .close {
  background: #414643;
  color: #fffdfe;
}