.Room {
  width: 100%;
  height: 100%;
}

.Room > .game-info {
  position: absolute;
  top: 0; 
  left: 0;
  height: 280px;
  width: 200px;
  background: #515765;
  text-align: center;
}
.Room > .game-info > .id {
  margin-top: 8px;
  margin-bottom: 4px;
  color: white;
  font-size: 17px;
}
.Room > .game-info > span {
  color: #bfbfbf;
  font-size: 16px;
}
.Room > .game-info > input[type="text"],
.Room > .game-info > input[type="text"]:disabled {
  width: 130px;
  outline: none;
  color: #dfdfdf;
  font-size: 16px;
  margin-top: 8px;
}
.Room > .game-info > input[type="text"] {
  border: 1px solid #999999;
  background: black;
}
.Room > .game-info > input[type="text"]:disabled {
  border: 1px solid #515765;
  background: #515765;
}
.Room > .game-info > img {
  width: 128px; 
  height: 120px;
  margin: 0 36px;
}
.Room > .game-info > button {
  width: 112px; 
  height: 25px;
  border-radius: 4px;
  margin: 8px 36px;
  outline: none;
  background: #a0a0a0;
  color: #efefef;
  border: 1px solid #515765;
  font-size: 16px;
}

.Room > .users {
  position: absolute;
  background: #303940;
  top: 0; 
  height: 280px;
  left: 200px; 
  right: 0;
  text-align: center;
}
.Room > .users > table {
  width: 100%;
  border-spacing:0;
}
.Room > .users > table > thead > tr {
  height: 32px;
  color: #adb6cd;
  background: #15385f;
}
.Room > .users > table > tbody > tr > td {
  padding: 5px 16px;
}
.Room > .users > table > tbody > tr > td > img{
  height: 20px;
  width: 20px;
  float: left;
  border: 1px solid #a0a0a0;
  margin-right: 12px;
}
.Room > .users > table > tbody > tr > td > span{
  float: left;
  font-size: 16px;
  padding: 3px;
}
.Room > .users > table > tbody > .odd {
  height: 32px;
  color: #adb6cd;
  background: #02050e;
}
.Room > .users > table > tbody > .even{
  height: 32px;
  color: #adb6cd;
  background: #1f2126;
}

.Room > .controls {
  position: absolute;
  background: #3d3f3e;
  top: 280px;
  height: 32px;
  width: 100%;
}
.Room > .controls > button {
  float: right;
  width: 100px;
  height: 24px;
  outline: 0;
  margin: 4px;
  color: #dfdfdf;
  background: #2d6a88;
  border: 1px solid #274252;
  border-radius: 4px;
}

.Room > .chat-history-box {
  background: #161b1f;
  position: absolute;
  top: 312px;
  bottom: 32px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.Room > .chat-history-box > .chat-history {
  position:absolute; 
  left:0; 
  top:0; 
  height:auto; 
  padding: 5px 15px;
  color: white;
  float: left;
}
.Room > .chat-history-box > .chat-history > .list {
  padding: 0;
  border: 0;
  margin-bottom: 5px;
  text-align: left;
}

.Room > .chat-edit {
  position: absolute;
  background: #161b1f;
  height: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

.Room > .chat-edit > input {
  width: 80%;
  height: 24px;
  outline: 0;
  margin: 4px 10px 4px 4px;
  background: #161b1f;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  color: #dfdfdf;
  padding: 2px 2px 2px 10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.Room > .chat-edit > button {
  width: 15%;
  height: 24px;
  outline: 0;
  margin: 4px;
  color: #dfdfdf;
  background: #2d6a88;
  border: 1px solid #274252;
  border-radius: 4px;
}