<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.version}}</title>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.js"></script>
    <!--<script src="js/react/react.js"></script>
    <script src="js/react/react-dom.js"></script>
    <script src="js/react/browser.min.js"></script>-->

    <!--不允许缓存-->
    <!--<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
    <META HTTP-EQUIV="Expires" CONTENT="0"> -->

    <!--chatBoard required-->
    <!--<link href="css/chatBoard.css" rel="stylesheet">-->
    <link href="css/m.css" rel="stylesheet">

    <script src="/js/dynamicaudio.js" type="text/javascript" charset="utf-8"></script>
    <!--nes required-->
    <!--<script src="/js/jsnes/nes.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/cpu.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/keyboard.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/mappers.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/papu.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/ppu.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/rom.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jsnes/ui.js" type="text/javascript" charset="utf-8"></script>-->
</head>

<body>
    <span id="info" class="info"></span>
    <div class="button_menus">
        <button class="button_menu" id="choose-rom" data-toggle="modal" data-target="#myModal"/>
    </div>
    <div class="button_directions">
        <img src="/images/m/button_center.png" onmouseover="this.src='/images/m/button_center_over.png'" onmouseout="this.src='/images/m/button_center.png'" class="button_center"></img>
        <button id="KEY_UP" value="87" class="button_up"/>
        <button id="KEY_DOWN" value="83" class="button_down">
        <button id="KEY_LEFT" value="65" class="button_left"/>
        <button id="KEY_RIGHT" value="68" class="button_right"/>
        <button id="KEY_SELECT" value="86" style="display: none"/>
        <button id="KEY_START" value="66" style="display: none"/>
        <!--<img src="/images/m/button_up.png" onmouseover="this.src='/images/m/button_up_over.png'" onmouseout="this.src='/images/m/button_up.png'" class="button_up"></img>
        <img src="/images/m/button_left.png" onmouseover="this.src='/images/m/button_left_over.png'" onmouseout="this.src='/images/m/button_left.png'" class="button_left"></img>-->
        <!--<img src="/images/m/button_right.png" onmouseover="this.src='/images/m/button_right_over.png'" onmouseout="this.src='/images/m/button_right.png'" class="button_right"></img>
        <img src="/images/m/button_down.png" onmouseover="this.src='/images/m/button_down_over.png'" onmouseout="this.src='/images/m/button_down.png'" class="button_down"></img>-->
    </div>
    <div class="button_AB">
        <button id="KEY_A" value="75" class="button_a"/>
        <button id="KEY_B" value="74" class="button_b"/>
        <!--<img src="/images/m/button_a.png" onmouseover="this.src='/images/m/button_a_over.png'" onmouseout="this.src='/images/m/button_a.png'" ></img>
        <br>
        <img src="/images/m/button_b.png" onmouseover="this.src='/images/m/button_b_over.png'" onmouseout="this.src='/images/m/button_b.png'" ></img>-->
    </div>
    <div align="center" id="vid-wrapper" class="vid-wrapper">
        <video id="video" class="video" autoplay="autoplay"></video>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closee" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <span id="ip"></span>
                    双人房列表
                </h4>
            </div>
            <div class="modal-body" id="rooms" align="center">
               
            </div>
        </div><!-- /.modal-content -->
    </div>
    <script src="js/settings.p2p.m.js"></script>
    <div id="host" style="display: none">{{.Host1}}</div>
    <script src="js/chat.p2p.m.js"></script>
</body>
</html>
