.UserTab {

}

.UserTab > .Tab {
  background: #5c5c5c; 
  width: 200px; 
  height: 32px; 
  position: fixed; 
  top: 64px; 
  right: 0;
}

.UserTab > .Tab > .Show {
  border: 2px;
  background: none;
  color: #ffffff;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
}

.UserTab > .Tab > .Hide {
  border: 2px;
  background: none;
  color: #959595;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
}

.UserTab > .List {
  background: white;
  width: 200px; 
  position: fixed; 
  top: 96px; 
  bottom: 32px;
  right: 0;
}