.scrollDiv { 
  width: 10px;
  position:absolute; 
  top:0; 
  bottom: 0;
  background: #666666;
  border-radius:10px;
}
.scrollDiv:hover {
  background: #444444;
}
.Header {
  height: 64px;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #eaecef;
}
.Header > .Title {
  background: url(/img/logo@48.png) no-repeat;
  outline: none;
  border: 0;
  font-size: 16px;
  padding: 6px 64px;
  height: 64px;
}
.Body {
  min-height: 300px;
  min-height: 600px;
}
.Body .LocationBar {
  border: 1px solid #eaecef;
  margin: 10px 0;
  padding: 5px 10px;
}
.Body .LocationBar > a {
  border-bottom: 1px;
}
.Body .LocationBar > .CurrentLocation {
  color: #004693;
  border-bottom: 1px solid #004693;
}
.Footer {
  clear: both;
  border-top: 1px solid #eaecef;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;    
  margin-top: 20px;
}
.Account {
  position: fixed; 
  top: 16px; 
  left: 0;
  height: 32px; 
  width: 100%;
  background: linear-gradient(#2c2c2c, #4c4c4c); 
}
.Account > .user {
  position: absolute;
  right: 168px;
  top: 0;
}
.Account > .user > img {
  height: 32px;
  width: 32px;
}
.Account > .user > input {
  position: absolute;
  top: 0;
  left: 40px;
  width: 68px;
  outline: none;
  border: none;
  background: none;
  color: #fff;
  font-size: 16px;
}