.defaultScroll { 
  width: 10px;
  position:absolute; 
  top:0; 
  bottom: 0;
  background: #666666;
  border-radius:10px;
}
.defaultScroll:hover {
  background: #444444;
}
.defaultScrollBackground {
  position: absolute;
  top: 0;
  width: 10px; 
  height: 100%;
  right: 0px; 
  background: #ccc;
}