.GamePreview {
  position:relative; 
  height: 100%; 
  width: 100%;
  overflow:hidden;
  text-align: center;
}
.GamePreview > .window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 128px;
  background: #0d2237;
  border-radius: 15px;
  margin: 32px 32px 0;
  overflow: hidden;
}
.GamePreview > .window > img {
  margin:80px auto 20px auto;
  width: 256px;
  height: 240px;
}
.GamePreview > .gameButtonBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 96px;
  margin: 0 32px;
}
.GamePreview > .gameButtonBox > table {
  width: 100%;
  border: 10px;
}
.GamePreview > .gameButtonBox > table > tbody > tr > td {
  margin: 30px; 
  height: 100px;
  width: 30％;
  text-align:center;
}
.GamePreview > .gameButtonBox > table > tbody > tr > td > button {
  background: #002a5c;
  border: 2px solid #00a0e2;
  color: #efefef;
  height: 35px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  outline: none;
}
.GamePreview > .gameButtonBox > table > tbody > tr > td > button:hover {
  color: #ffffff;
  background: #004693;
  cursor: pointer;
}