.RoomListBox {
  position:relative; 
  height: 100%; 
  width: 100%;
  overflow:hidden;
}
.RoomListBox > .RoomList {
  position:absolute; 
  left:0; 
  top:0;
  right: 10px;
  height:auto; 
  text-align: center;
}
.RoomListBox > .RoomList > table {
  width: 100%;
  border-spacing:0;
}
.RoomListBox > .RoomList > table > thead > tr {
  height: 32px;
  color: #adb6cd;
  background: #15385f;
}
.RoomListBox > .RoomList > table > tbody > tr > td {
  padding: 5px 16px;
}
.RoomListBox > .RoomList > table > tbody > tr > td > img{
  height: 20px;
  width: 20px;
  float: left;
  border: 1px solid #a0a0a0;
  margin-right: 12px;
}
.RoomListBox > .RoomList > table > tbody > tr > td > span{
  float: left;
  font-size: 16px;
  padding: 3px;
}
.RoomListBox > .RoomList > table > tbody > .odd {
  height: 32px;
  color: #adb6cd;
  background: #02050e;
}
.RoomListBox > .RoomList > table > tbody > .even{
  height: 32px;
  color: #adb6cd;
  background: #1f2126;
}