.GameListBox {
  position:relative; 
  height: 100%; 
  width: 100%;
  overflow:hidden;
}
.GameList {
  position:absolute; 
  left:0; 
  top:0; 
  right: 10px;
  height:auto; 
}

.GameList > .Block {
  position: relative;
  float: left;
  width: 128px;
  padding: 5px;
  text-align: center;
  color: #cfcfcf;
  border: 2px solid #6c6c6c;
  border-radius: 3px;
  margin: 5px;
}
.GameList > .Block:hover {
  border: 2px solid #ffffff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.GameList > .Block > img {
  width: 128px; 
  height: 120px;
  border-radius: 10px;
}
.GameList > .Block > .Info {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 85%;
}
