.gameTabAvatar {
  height: 32px;
  width: 32px;
}
.GameTab > .window > .exitButtons {
  position: absolute;
  bottom: 31px;
  left: 10%;
  right: 10%;
}
.GameTab > .window > .exitButtons > button {
  background: #000;
  border: 1px solid #a4821a;
  color: gold;
  border-radius: 3px;
  width: 40%;
  margin: 0 5%;
  height: 28px;
  font-size: 16px;
  line-height: 22px;
  outline: 0;
}